<div class="dashboard">
  <p><span class="payday">£<%= sprintf('%.2f', @savings)%></span> savings / debt for month</p>
</div>

<div class="main">
  <h3>Transactions by Month</h3>

  <% for transaction in @transactions_by_month %>
  <p>Item: <%= transaction.item() %></p>
  <p>Value: £<%= sprintf('%.2f', transaction.value()) %></p>
  <p>Merchant: <%= transaction.merchant.name() %></p>
  <p>Tag: <%= transaction.tag.type() %></p>
  <p>Date: <%= transaction.format_date() %></p>
  <p><a href="/transaction/<%= transaction.id %>">Show Transaction Details</a></p>
  <hr />
  <% end %>
</div>