<div class="dashboard">
  <p>Total spent: £<%= sprintf('%.2f', @total_spent) %></p>
  <p>Status: <%= @warning_message %></p>
  <p><a href="/transaction/new">Add Transaction</a></p>
</div>

<div class="main">
  <h3>All Transactions</h3>

  <% for transaction in @transactions %>
  <p>Item: <%= transaction.item() %></p>
  <p>Value: £<%= sprintf('%.2f', transaction.value()) %></p>
  <p>Merchant: <%= transaction.merchant.name() %></p>
  <p>Tag: <%= transaction.tag.type() %></p>
  <p>Date: <%= transaction.format_date() %></p>
  <p><a href="/transaction/<%= transaction.id %>">Show Transaction Details</a></p>
  <hr />
  <% end %>
</div>