<h2>Dashboard</h2>
<p>Total spent: £<%= @total_spent %></p>
<p>Status: <%= @warning_message %></p>


<h2>All Transactions</h2>

<p><a href="/transaction/new">Add Transaction</a></p>
<% for transaction in @transactions %>
<p>Item: <%= transaction.item() %></p>
<p>Value: £<%= transaction.value() %></p>
<p>Merchant: <%= transaction.merchant.name() %></p>
<p>Tag: <%= transaction.tag.type() %></p>
<p><a href="/transaction/<%= transaction.id %>">Show Transaction Details</a></p>
<hr />
<% end %>