<h2>All Transactions</h2>

<p><a href="/transaction/new">Add Transaction</a></p>
<% for transaction in @transactions %>
<p>Type: <%= transaction.item() %></p>
<p>Type: <%= transaction.value() %></p>
<p>Type: <%= transaction.merchant_id() %></p>
<p>Type: <%= transaction.tag_id() %></p>
<p><a href="/tag/<%= transaction.id %>">Show Transaction Details</a></p>
<hr />
<% end %>