<div class="dashboard">

<div class="grid">
   <div class="grid-row grid-row-sm">
    <div class="cell">
    <p>Total spent: £<%= sprintf('%.2f', @total_spent) %> <i>(of £<%= sprintf('%.0f', @budget) %> budget)</i></p>

    <div class="full_bar">
      <table class="progress_bar" width="<%= @progress_bar%>%">
        <tr>
          <td>
          </td>
        </tr>
      </table>
    </div>

    <p><a href="/transaction/new">Add Transaction</a></p>
    </div>
    <div class="cell align_right">
    <p>Status: <%= @warning_message %></p>
    <p><span class="payday"><%= @days_to_payday%></span> days to payday</p>
    </div>
  </div>
</div>

</div>

<div class="main">
  <h3>All Transactions</h3>

  <% for transaction in @transactions %>
  <p>Item: <%= transaction.item() %></p>
  <p>Value: £<%= sprintf('%.2f', transaction.value()) %></p>
  <p>Merchant: <%= transaction.merchant.name() %></p>
  <p>Tag: <%= transaction.tag.type() %></p>
  <p>Date: <%= transaction.format_date() %></p>
  <p><a href="/transaction/<%= transaction.id %>">Show Transaction Details</a></p>
  <hr />
  <% end %>
</div>