<p>Item: <%= @transaction.item() %></p>
<p>Value: £<%= @transaction.value() %></p>
<p>Merchant: <%= @transaction.merchant_id() %></p>
<p>Tag: <%= @transaction.tag_id() %></p>

<p><a href="/transaction/<%= @transaction.id %>/edit">Edit Transaction</a></p>

<form action="/transaction/<%= @transaction.id %>/delete" method="POST">
  <input type="submit" value="Delete Transaction">
</form>
